<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" metadata-complete="true" version="6.0">
  <display-name>Hospital_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>delptnt</display-name>
    <servlet-name>delptnt</servlet-name>
    <jsp-file>/plogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>delptnt</servlet-name>
    <url-pattern>/delptnt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>com.nt.files.Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doclogin</display-name>
    <servlet-name>Doclogin</servlet-name>
    <servlet-class>com.nt.files.Doclogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doclogin</servlet-name>
    <url-pattern>/doclogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Plogin</display-name>
    <servlet-name>Plogin</servlet-name>
    <servlet-class>com.nt.files.Plogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Plogin</servlet-name>
    <url-pattern>/plogin</url-pattern>
  </servlet-mapping>
</web-app>